body {
  background-color: #111;
  margin: 0;
  font-family: sans-serif;
  color: #fff; 
}

#canvas {
  display: block; 
  position: absolute; 
}

#play {
  display: none;
  cursor: pointer;
  position: absolute;
  bottom: 75%;
  left: 50%;
  transform: translate(-50%, 0%);
  padding: 1rem; 
  text-align: center;
  border-radius: 1rem;
  background-color: #fff8;
  border: 0.3rem solid #fffb;
  box-shadow: 0 0 6rem #0007;
  font-weight: bold;
  font-size: 1.2rem;
  text-shadow: 0 0 0.5rem #0007;
}

#play:hover {
  background-color: #fffb;
  border: 0.3rem solid #fffc;
  box-shadow: 0 0 1.5rem #0002;
  text-shadow: 0 0 0.5rem #0002;
}

#camera {
  display: none; 
  position: absolute; 
}

/* {
  outline: 1px solid green; 
} /**/
